<div class="view">
	<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" />
	<label for="" (swiperight)="toggleTodoComplete(todo)" (swipeleft)="removeTodo(todo)" >{{ todo.title }}</label>
<!-- 	<label for="" swipe [style.marginLeft.px]="x" (locationChange)="onSlide(event, todo)" >{{ todo.title }} </label> -->
	<button class="destroy" (click)="removeTodo(todo)"></button>
</div>